<html>
  <head>
    <title>Welcome to <%=city%>!</title>
    <style>
      body {
        background-color: #eeeeee;
      }
    </style>
  </head>
  <body>
    <h1>Weather in <%=city %></h1>
    <h3>Weather forecast for <%=new Date()%>
    <p><img src="/static/<%=icon%>">Today is <%=forecast%>, you should go out and do one of these things:</p>
    <ul>
      <% for (let k=0; k < 5; k++) { %> 
      <li>
        Thing #<%=k%>
      </li>
      <% } %>
    </ul>
  </body>
</html>
