<html>
  <head>
    <title>Welcome to Toronto!</title>
    <style>
      body {
        background-color: #eeeeee;
      }
    </style>
  </head>
  <body>
    <h1>Weather in <%= city %></h1>
    <p>Today is absolutely gorgeous.</p>
    <ul>
    <% for (let i = 0; i < 5; i++) { %>
      <li><a href="/<%= city %>"><%= city %></a><img src="/static/<%= forecast %>"></li>
    <% } %>
    </ul>
    <p>Generated on: <%= new Date() %> </p>
  </body>
</html>
