<html><body>
  <h1>My new blog site</h1>
  <h3><%= article.title%></h3>
  <form action="/articles/<%=article.id%>?_method=PUT" method="POST"> 
    <input name="user" value="<%=article.userId%>">
    <input name="title" value="<%=article.title%>">
    <textarea name="content" rows="10" cols="60"><%= article.body %></textarea>
    <input type="submit" value="Update!">
  </form>
  <p>Go back to <a href="/">home page</a></p>
 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>
</body></html>