<html>
  <head>
    <title>LPs Collection</title>
  </head>
  <body>
    <h1>Show ONE LP</h1>
    <p>Use the form below to READ/UPDATE/DELETE the LP</p>
    <form action="/lps/<%=year %>?_method=PUT" method="POST">
      Title: <input name="title" value="<%= title%>">
      Artist: <input name="artist" value="<%=artist %>">
      Year: <input name="year" value="<%= year %>">
      <input type="submit" value="UPDATE">
    </form>
    <form action="/lps/<%=year %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE">
    </form>
  </body>
</html>
